/* 1. Importa a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap' );

/* 2. Inclui as bases do Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. (Opcional, mas bom ter) Aplica a fonte na camada base */
/*    Isso garante que a fonte seja o padrão em todo o site. */
@layer base {
  html {
    font-family: 'Montserrat', sans-serif; /* <-- Sem as barras invertidas! */
  }
}
/*
  Hack para sobrescrever o estilo de autofill dos navegadores (Chrome, Safari, etc.)
  Isso força o fundo a ter a cor que queremos, em vez do branco/azul padrão.
*/

/* ESTILOS PARA MODO ESCURO (QUANDO A CLASSE .dark ESTÁ NO HTML) */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus, 
.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #374151 inset !important; /* Cor do seu input no modo escuro (gray-700) */
    -webkit-text-fill-color: #FFFFFF !important; /* Cor do texto no modo escuro (branco) */
}

/* ESTILOS PARA MODO CLARO (QUANDO A CLASSE .dark NÃO ESTÁ NO HTML) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #F9FAFB inset !important; /* Cor do seu input no modo claro (gray-50) */
    -webkit-text-fill-color: #111827 !important; /* Cor do texto no modo claro (gray-900) */
}
